/**
 * Tableless Layout for default template
 *
 * @author Andreas Gohr <andi@splitbrain.org>
 * @author moraes <moraes@tipos.com.br>
 */

/* -------------- top row --------------- */
div.dokuwiki .header {
  padding: 3px 0 0 2px;
}

div.dokuwiki .pagename {
  float: left;
  font-size: 200%;
  font-weight: bolder;
  color: __background_alt__;
  text-align: left;
  vertical-align: middle;
}

div.dokuwiki .pagename a {
  color: __extern__ !important;
  text-decoration: none !important;
}

div.dokuwiki .logo {
  float: right;
  font-size: 220%;
  font-weight: bolder;
  text-align: right;
  vertical-align: middle;
}

div.dokuwiki .logo a {
  color: __background_alt__ !important;
  text-decoration: none !important;
  font-variant: small-caps;
  letter-spacing: 2pt;
}

/* ---------------  top and bottom bar ---------------- */
div.dokuwiki .bar {
  border-top: 1px solid __border__;
  border-bottom: 1px solid __border__;
  background: __background_alt__;
  padding: 0.1em 0.15em;
  clear: both;
}

div.dokuwiki .bar-left {
  float: left;
}

div.dokuwiki .bar-right {
  float: right;
  text-align: right;
}

div.dokuwiki #bar__bottom {
  margin-bottom: 3px;
}

/* ------------- File Metadata ----------------------- */

div.dokuwiki div.meta {
  clear: both;
  margin-top: 1em;
  color: __text_alt__;
  font-size: 70%;
}

div.dokuwiki div.meta div.user {
  float: left;
}

div.dokuwiki div.meta div.doc {
  text-align: right;
}

/**
 *
 * custom CSS
 */

input, button, select, html, body {
    font-family: "Open Sans", "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif !important;
    font-size: 12px !important;
}

code, pre, code > pre, pre > code {
  font-family: "Ubuntu Mono" !important;
  font-size: 13px !important;
}

blockquote, blockquote * {
  font-size: 12px !important;
}

blockquote {
  padding: 5px 10px 5px 20px !important;
  background-color: #fafafa !important;
  color: #808a8f !important;
}

blockquote blockquote {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase !important;
    font-family: "Open Sans", "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif !important;
    font-variant: small-caps !important;
    font-weight: normal !important;
}

table.inline th, table.inline td {
    padding: 7px !important;
}
